<ion-header no-border>
  <ion-toolbar>

    <ion-buttons slot="start">


     <ion-menu-button color="success" menu="primerMenu"></ion-menu-button>

    </ion-buttons>

    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background-image" no-scroll padding>

  <ion-button expand="block" color="warning" (click)="onLogout()">Logout
    <ion-icon name="lock-closed" slot="end"></ion-icon>
  </ion-button>
  <br>

</ion-content>

<style>
  .background-image{
    --background: url(../assets/fondo3.jpg) 0 0/100% 100% no-repeat;
  }
</style>
