<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding"> 
  <ion-item>
    <ion-label>
      Correo
    </ion-label>
    <ion-input type="text" [(ngModel)]="user.email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>
      Contraseña
    </ion-label>
    <ion-input type="password" [(ngModel)]="user.password"></ion-input>
  </ion-item>
  <br>
 <ion-item-divider>
    <ion-button size="large" (click)="onLogin()">Login</ion-button>
    <ion-button size="large" routerLink="/register" slot="end">New</ion-button>
  </ion-item-divider>
  

</ion-content>