<ion-header>
  <ion-toolbar>
     <!--Se agrego ion buttons para agregar la fleca para regresar, back button defaultHref te manda a la pagina inicio-->
     <ion-buttons slot="start">
      <ion-back-button text = "Regresar" defaultHref ="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{titulo}}</ion-title>
    <!--<ion-title>{{titulo | uppercase}}</ion-title>-->  
    <!--Se agrego ion buttons icon para entrar a la pagina de favoritos-->
    <ion-button slot="end" href="/fav">
      <ion-icon name="heart" color="dark" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
